li.collection-item p{
  width: 200px;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea.materialize-textarea-tagarea {
  overflow-y: hidden;
  padding: 3rem 10;
  resize: none;
  max-height: 2rem;
}

.winwin-btn{
	float: right;
	margin: 6px 0;
}

.winwin-cnt{
	float: right;
	margin: 10px 5px;
}

@media only screen and (min-width: 992px) {
	#toggle-menu{
			width: 100%;
	}
}