.display_gradation {
	/* 水色グラデーションカラー */
	/* 明るく爽やか */
	background: #00f6ff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #00f6ff 0%, #2dffe3 50%, #25f7f3 51%, #c6ffeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00f6ff), color-stop(50%,#2dffe3), color-stop(51%,#25f7f3), color-stop(100%,#c6ffeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #00f6ff 0%,#2dffe3 50%,#25f7f3 51%,#c6ffeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #00f6ff 0%,#2dffe3 50%,#25f7f3 51%,#c6ffeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #00f6ff 0%,#2dffe3 50%,#25f7f3 51%,#c6ffeb 100%); /* IE10+ */
	background: linear-gradient(135deg,  #00f6ff 0%,#2dffe3 50%,#25f7f3 51%,#c6ffeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6ff', endColorstr='#c6ffeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	/* 透過 */
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}	

.display_gradation_purple {
	/* ブルーパープル系のちょっとダーク系 */
	background: #110a35; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #110a35 0%, #2c49ea 50%, #3821ce 51%, #615faf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#110a35), color-stop(50%,#2c49ea), color-stop(51%,#3821ce), color-stop(100%,#615faf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #110a35 0%,#2c49ea 50%,#3821ce 51%,#615faf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #110a35 0%,#2c49ea 50%,#3821ce 51%,#615faf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #110a35 0%,#2c49ea 50%,#3821ce 51%,#615faf 100%); /* IE10+ */
	background: linear-gradient(135deg,  #110a35 0%,#2c49ea 50%,#3821ce 51%,#615faf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#110a35', endColorstr='#615faf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

.display_gradation_glass {
	/* ガラス風グラデーションカラー */
	background: #f0feff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f0feff 0%, #5cffe9 50%, #52dddd 51%, #abffe2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f0feff), color-stop(50%,#5cffe9), color-stop(51%,#52dddd), color-stop(100%,#abffe2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f0feff 0%,#5cffe9 50%,#52dddd 51%,#abffe2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f0feff 0%,#5cffe9 50%,#52dddd 51%,#abffe2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f0feff 0%,#5cffe9 50%,#52dddd 51%,#abffe2 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f0feff 0%,#5cffe9 50%,#52dddd 51%,#abffe2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0feff', endColorstr='#abffe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	/*
	background: linear-gradient(135deg, #F0FEFF 0%,#5CFFE9 50%,#52DDDD 51%,#ABFFE2 100%) */ /* W3C */

	/* 透過 */
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.regist {
	background: #EAFFFA;
}

.main-contents {
	width: 426px;
}

.center {
	margin-left: 35%;
	margin-top: 10%;
	/*
	margin: 0 auto;
	*/
}

.regist_card {
	margin-left: 25%;
	/* regist card 用の設定 */
	/* 立体感が欲しい */
	border: outset #46FFEA;
	border-radius: 25px;
}

.center_text {
	text-align: center;
}

.gaidance {
	text-align: center;
}

.book {
	margin: auto;
	text-align: center;
	position: relative;  
	/* 三画追加前 */
	/*
	top: -70px;  
	*/
	/* 三画追加前 */
	top: -135px;  
	left: 5%;
	z-index: -2;
}

.triangle2 {
	overflow:hidden;
	background:transparent;
	/*
	width:142px;
	height:71px;
	*/
	top: -35px;/* 後々計算で出す */
	left: 10px;
	z-index: -1;
	position: relative;

}
.triangle2::before {
	content:"";
	display:block;
	width:200px;
	height:185px;
	/*
	background:rgb(80,80,200);
	*/
	-moz-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);

	/* 水色グラデーションカラー */
	/* 一時的に削除 */
	background: #2C49EA;



	/* 透過 */
	/*
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	*/
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
}



/* BootFlatから連れてきた。warning用
--------------------------------------------- */
/* col-md-6 の代わり */
.message {
	width: 300px;
	margin: 0 auto;
	border: #000;
}

.message button .message_close {
	text-align: right;
	background-color: #181334;
}

.message p {
  font-weight: thin;
}

.alert h4 {
  margin-bottom: 10px;
  font-weight: thin;
}

.alert-dismissable .close {
  color: black;
}

.alert-warning {
  color: #FFADAD;
  background-color: #181334;
  border-radius: 15px;
  padding: 10px;

  filter:alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

.alert .alert-link {
  text-decoration: underline;
  cursor: pointer;
  filter: alpha(opacity=65);
  opacity: .65;
}
.alert .alert-link:hover, .alert .alert-link:focus {
  filter: alpha(opacity=45);
  opacity: .45;
}
.alert .btn-link, .alert .btn-link:hover, .alert .btn-link:focus {
  color: black;
  filter: alpha(opacity=65);
  opacity: .65;
}
.alert .btn-link:focus, .alert .btn-link:hover {
  text-decoration: none;
  filter: alpha(opacity=40);
  opacity: .4;
}

/* 非アクティブ時のカラー */
.myicon {
	color: #E5DCE2;
}
