@main(title="ログイン画面") {
		<div class="center">
			<div class="main-contents">
				@if(flash.get("error")) {
				<!-- 
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="alert alert-warning">@flash.get("error")</div>
					</div>
				</div>
				-->
				<div class="col s6 m4 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s6">
								<span class="red-text text-accent-3">
									@flash.get("error")
								</span>
							</div>
						</div>
					</div>
				</div>
				}
				<!-- login form -->
				<div class="row">
					<div class="col s10 m8">
						<!-- <div class="card blue-grey darken-1"> -->
						<!-- <div class="card cyan accent-2"> -->
						<!-- <div class="card display_gradation"> -->
						<div class="card display_gradation_purple">
							<div class="card-content white-text">
								<span class="card-title">LogIn</span>
								<form method="post" action="/login/auth">
								<div class="row">
									<div class="col s12">
										<!-- Handle Name -->
										<div class = "row" >
											<div class="input-field col s11">
												<div class="row">
													<i class="mdi-action-favorite prefix"></i>
													<input id="userId" name="userId" type="text" class="validate">
													<label for="userId">Email Address<!-- Account Name--></label>
												</div>
											</div>
										</div>

										<!-- PassWord -->
										<div class = "row" >
											<div class="input-field col s11">
												<i class="mdi-communication-vpn-key prefix"></i>
												<input id="password" name="password" type="password" class="validate" maxlength="20">
												<label for="password">Password</label>
											</div>
										</div>
									</div>
								</div>

								<!-- login button -->
								
								<a class="btn-floating btn-large waves-effect waves-light cyan lighten-2">
									<button type="submit" style="background-color:#4dd0e1;border-width:0"><i class="mdi-action-lock"></i></button>
									<!--<input type="submit" class="btn btn-primary">-->
								</a>
								<!-- clickの瞬間にログインが正常だったらiconを
								mdi-action-lock-open
								に一瞬変える -->
						   
								<!-- 
								<button class="btn waves-effect waves-light teal accent-2" type="submit" name="action">Regist
									<i class="mdi-action-done right"></i>
								</button>
								-->
								</form>
								<p class="condenced"><a href="signup">　Register for FREE!</a></p>
							</div>
						</div>
					</div>
				</div><!-- login form end -->

				<!-- 本から出ている部分の描写 -->
				<div class="triangle2 display_gradation"></div>

			</div><!-- main end -->
		</div><!-- center end -->

		<!-- Book IMG -->
		<div class="book">
			<img src="@routes.Assets.at("/images/blue_book.png")" width="40%" class="responsive-img">
		</div>
}

