@main(title="メモ画面") {
	<head>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/memo.js")"></script>
	    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/memo.css")">
    </head>
    <body>
		<!-- ナビゲーションウインドウ -->
        <nav class="#4db6ac teal darken-1 text-align:center">
        	<div class="nav-wrapper">
        		<a href="#!" class="brand-logo">メモったー</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a class="right" href="#modal1">
							<i class="mdi-content-add-box left"></i>
							メモる
						</a>
					</li>
					<li>
						<a id="toggle-search" class="right ">
						<i class="mdi-action-search"></i>
						</a>
					</li>
			    	</ul>
			</div>
        </nav>
		<!-- メモるのモーダル画面 -->
		<div id="modal1" class="modal">
			<div class="modal-content">
	        	<h4>メモ</h4>
				<textarea id="memoAdd" class="materialize-textarea"></textarea>
				<h4>タグ</h4>
				<textarea id="tagAdd" class="materialize-textarea-tagarea"></textarea>
			</div>
			<div class="modal-footer">
				<a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">キャンセル</a>
				<a id="memoAdd" href="#" class="waves-effect waves-green btn-flat " onclick="postMemo()">OK</a>
			</div>
		</div>
		<!-- 検索入力欄 -->
		<div class="row white-text grey darken-3" id="search">
			<div class="container">
				<form action="https://www.google.com/search" method="get">
					<input class="form-control" type="text" name="q" placeholder="Search">
					<input type="hidden" name="as_sitesearch" value="makoframework.com">
				</form>
			</div>
		</div>
		<!-- メモの一覧表示 -->
		<article>
            <div id="main">
                <ul id="memoId" class="collection with-header">
                    <li class="collection-header"><h4>メモ一覧</h4></li>
                </ul>
            </div>
        </article>
        <!-- メモ詳細表示のモーダル -->
        <div id="memodetail" class="modal">
            <div class="modal-content">
                <h4>メモ内容</h4>
                <textarea id="contents"　id="icon_prefix2" class="materialize-textarea"></textarea>
            </div>
            <div class="modal-footer">
            	<a href="#" id="delete" class="waves-effect waves-green btn-flat modal-action modal-close " onclick="deleteMemo()">削除</a>
            	<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">閉じる</a>
                <a href="#" id="edit" class="waves-effect waves-green btn-flat modal-action modal-close" onclick="updateMemo()">編集する</a>
                <span class="winwin-cnt"></span>
                <input type="image" src="@routes.Assets.at("images/winwin_button.png")" width="30" height="30"
                	 class="winwin-btn" >
            </div>
        </div>
	</body>
}