@(SingupForm: Form[SignupController.SignupForm])

@main(title="ユーザ登録画面") {
<div class="regist">
	<!-- args = 'class -> "regist")  bodyにclassつけたい。。-->
	<div class="gaidance">
		<H2>Regist Account</H2>
		<p>Please Input Your Infomation for get your account.</p>
	</div>
	@helper.form(action = routes.SignupController.regist){
		<div>
			<div class="row">
				<div class="col s10 m8">
					<div class="card-content cyan-text accent-3 center">
						<!-- card contents -->
						<div class="row regist_card display_gradation_glass">							
							<!-- Name -->
							<div class = "row" >
								<div class="input-field col s11">
									<div class="row">
										<!-- <i class="mdi-action-favorite prefix"></i> -->
										@(helper inputText(
											field = SingupForm("name"),
											args = 'size -> 256,
											'_showConstraints -> false,
											'_showErrors -> true,
											'_label -> "Account Name"
										))
									</div>
								</div>
							</div>
							<!-- Mail Address -->
							<div class = "row" >
								<div class="input-field col s11">
									<!-- <i class="mdi-content-mail prefix"></i> -->
									@(helper.inputText(
										field = SingupForm("email"),
										args = 'size -> 256,
										'_showConstraints -> false,
										'_showErrors -> true,
										'_label -> "Email Address"
									))
								</div>
							</div>
							<!-- PassWord -->
							<div class = "row" >
								<div class="input-field col s11">
									<!-- <i class="mdi-communication-vpn-key prefix"></i> -->
									@(helper.inputPassword(
										field = SingupForm("password"),
										args = 'size -> 16,
										'_showConstraints -> false,
										'_showErrors -> true,
										'_label -> "Password"
									))
								</div>
							</div>
						</div>
						<!-- card contents end -->
					</div>
				</div>
			</div>
		</div>
		<div class="center_text">
			<!--  red lighten-1 -->
			<button class="btn waves-effect waves-light pink accent-3" type="submit">
			<!-- <button class="btn waves-effect waves-light pink accent-3" type="submit" name="action"> -->
				Regist
				<i class="mdi-action-done right"></i>
			</button>
		</div>
	}
</div>
}